header,
main,
footer {
  width: 50vw;
  border: 1px solid;
}

header,
footer {
  height: 100px;
  background: var(--color-4);
  display: flex;
  justify-content: center;
  align-items: center;
}

main {
  flex: 1;
  background: var(--color-2);
  padding: 1.5rem 1rem;
  height: calc(100vh - 200px);
  position: relative;
  height: 100%;
  overflow-y: auto;
}

.card {
  border: 0.25rem solid var(--color-6);
  border-radius: 0.5rem;
  padding: 2rem;
  position: relative;
  background: var(--color-3);
  display: flex;
  flex-direction: column;
  gap: 2rem;
  margin-bottom: 1rem;
  filter: drop-shadow(0 1px 0px #000000);

  &:last-of-type {
    margin-bottom: 0;
  }

  .bookmark {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate3d(-10px, -5px, 0);
  }
}

.bookmark {
  background: var(--color-6);
  position: relative;
  height: 30px;
  width: 50px;
  border-radius: 0.25rem 0.25rem 0 0;
  filter: drop-shadow(0px 2px 2px #000000);

  &::before {
    content: "✭";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -40%, 0);
    font-size: 1.8rem;
    color: var(--color-6);
    text-shadow: -1px 0 var(--color-1), 0 1px var(--color-1),
      1px 0 var(--color-1), 0 -1px var(--color-1);
  }

  &::after {
    content: "";
    position: absolute;
    left: 0;
    border-style: solid;
    border-width: 0 25px 20px;
    bottom: 0;
    transform: translate3d(0, 100%, 0);
    border-top-width: 6px;
    border-color: var(--color-6) var(--color-6) transparent var(--color-6);
  }
}

h1 {
  color: var(--color-3);
  width: 75%;
  text-align: center;
}

.categories {
  display: flex;
  gap: 1rem;

  li {
    background: var(--color-2);
    padding: 0.25rem 0.5rem;
    border-radius: 0.25rem;
    color: var(--color-4);
    filter: drop-shadow(0 1px 2px #000000);
  }
}

.nav {
  height: 100%;
  width: 100%;

  ul {
    display: flex;
    height: 100%;
    width: 100%;

    li {
      flex: 1;

      a {
        color: #fff;
        height: 100%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        .home {
          position: absolute;
          background: var(--color-6);
          height: 30px;
          width: 50px;
          border-radius: 0 0 0.25rem 0.25rem;
          filter: drop-shadow(0px 2px 2px #000000);
          top: 50%;

          &::after {
            content: "";
            position: absolute;
            left: 15px;
            top: -35.2px;
            border-style: solid;
            border-width: 0 35.4px 35.4px 0;
            -webkit-border-bottom-right-radius: 0;
            border-top-width: 0px;
            border-color: var(--color-6) var(--color-6) transparent
              var(--color-6);
            rotate: -45deg;
            transform-origin: 100% 100%;
          }
        }

        .bookmark {
          top: 0;
          transform: translate3d(0, -10px, 0);
        }

        .profile {
          background: var(--color-6);
          position: relative;
          height: 30px;
          width: 50px;
          border-radius: 1.25rem 1.25rem 0 0;
          transform: translate3d(0, 10px, 0);
          filter: drop-shadow(0px 2px 2px #000000);

          &:before {
            content: "";
            height: 25px;
            width: 25px;
            background: var(--color-6);
            border-radius: 50%;
            position: absolute;
            transform: translate3d(-50%, -100%, 0);
            left: 50%;
          }
        }
      }
    }
  }
}
